<!--<div class="col-sm-3 col-md-2">-->
    <!--<ul class="nav navbar">-->
            <!--<li><a routerLink="/user">User</a></li>-->
            <!--<li><a>Contact</a></li>-->
        <!--</ul>-->
<!--</div>-->
<div class="container-fluid" style="margin-top: -20px;">
        <div class="row">
            <div class="col-md-2 col-sm-3 sidebar2">
                <!--<div class="logo text-center">-->
                    <!--<img src="http://lorempixel.com/output/people-q-g-64-64-6.jpg" class="img-responsive center-block" alt="Logo">-->
                  <!--<h4>Arshi S.</h4>-->
                    <!--<div class="coins">-->
                      <!--<i class="fa fa-dollar" aria-hidden="true"></i>-->
                    <!--</div>-->
                      <!--<p class="coins">2,342</p>-->
                      <!--<div>-->
                    <!--<button type="button" class="btn btn-default Add-friend">-->
  <!--<i class="fa fa-rocket" aria-hidden="true"></i> LAUNCH A CHALLENGE-->
<!--</button></div>-->

                <!--</div>-->
                <br>

                <div class="left-navigation">

                    <ul class="list">

                        <li><i class="fa fa-safari" aria-hidden="true"></i>Activities</li>
                        <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>Challenges Accepted</li>
                        <li><i class="fa fa-hand-o-right" aria-hidden="true"></i>Challenges posed</li>
                       <li><i class="fa fa-trophy" aria-hidden="true"></i>Achievements</li>
                       <li><i class="fa fa-certificate" aria-hidden="true"></i>Badges</li>
                       <li><i class="fa fa-users" aria-hidden="true"></i>Pals</li>
                        <li><i class="fa fa-bar-chart" aria-hidden="true"></i>Statistics</li>
                    </ul>
                </div>
            </div>
            <!--<div class="col-md-9 col-sm-8 main-content">-->
                <!--&lt;!&ndash;Central content goes here&ndash;&gt;-->
                <!--<h1>FEEDBACK APPRECIATED! :)</h1>-->
            <!--</div>-->
        </div>
    </div>
